@layer base {
  :root {
    --text-light: white;

    /* Light theme */
    --anti-bg1: #09090b;
    --anti-bg2: #18181b;
    --bg1: #fafafa;
    --bg2: #d4d4d8;
    --bg3: #9ca3af;
    --primary1: #ff5700;
    --primary-lighter1: #f07d00;
    --primary-darker1: #cf022b;
    --text1: black;
    --text2: #27272a;
  }

  @define-mixin light-theme {
    ~ div .dark-only {
      display: none;
    }
  }

  @define-mixin dark-theme {
    ~ div {
      --anti-bg1: #fafafa;
      --anti-bg2: #d4d4d8;
      --bg1: #09090b;
      --bg2: #18181b;
      --bg3: #27272a;
      --text1: white;
      --text2: #9ca3af;

      .light-only {
        display: none;
      }
    }
  }

  @media (prefers-color-scheme: dark) {
    #theme-selector:not(:checked) {
      @mixin dark-theme;
    }

    #theme-selector:checked {
      @mixin light-theme;
    }
  }

  @media (prefers-color-scheme: light) {
    #theme-selector:not(:checked) {
      @mixin light-theme;
    }

    #theme-selector:checked {
      @mixin dark-theme;
    }
  }
}
