@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light theme */
  --anti-bg1: #18181b;
  --anti-bg2: #71717a;
  --bg1: #f4f4f5;
  --primary1: #ff5700;
  --text1: black;
  --text2: #71717a;
}

@define-mixin light-theme {
  ~ div .dark-only {
    display: none;
  }
}

@define-mixin dark-theme {
  ~ div {
    --anti-bg1: #f4f4f5;
    --bg1: #18181b;
    --text1: white;

    .light-only {
      display: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  #theme-selector:not(:checked) {
    @mixin dark-theme;
  }

  #theme-selector:checked {
    @mixin light-theme;
  }
}

@media (prefers-color-scheme: light) {
  #theme-selector:not(:checked) {
    @mixin light-theme;
  }

  #theme-selector:checked {
    @mixin dark-theme;
  }
}
